alias p8='ping 8.8.8.8'

# Exa
#alias ls='exa -a -l'
#alias lg='exa -a -l --git'
# My alias
alias unity='/mnt/w/Projects/Unity'
alias rider=/mnt/w/Projects/Rider'
alias mnw='/mnt/w'
alias mnp='/mnt/p'
alias mnc='/mnt/c'
alias mnu='/mnt/u'
alias b-alias='vim .aliases'
alias g-alias='vim .my-zsh/custom/plugins/git/git.plugin.zsh'
