[user]
	name = vangogih
	email = vangogih@yandex.ru
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager.exe
[core]
	autocrlf = true
	safecrlf = false
	eol = native
	editor = vim
