#!/.my-zsh/
#!/.my-zsh/custom/*
# Ignore all
*

# Except these folders:
.my-zsh/
!.my-zsh/
.my-zsh/custom/
!.my-zsh/custom/
!.my-zsh/custom/*
.my-zsh/custom/plugins/git
!.my-zsh/custom/plugins/git
!.my-zsh/custom/plugins/git/*

# and files:
!README.md
!/.gitignore
!/.gitmodules
!/.gitconfig
!/.bashrc
!/.zshrc
!/.vimrc
!/.aliases
!/.tmux.conf
!/.inputrc
