# Ignore all
*

# Except these folders:
.my-zsh/custom/
!.my-zsh/custom/*
!.my-zsh/custom/plugins/git/*

!.my-zsh/custom/themes/
!.my-zsh/custom/themes/*

!.on_new_setup/
!.on_new_setup/*

# and files:
!README.md
!/.gitignore
!/.gitmodules
!/.gitconfig
!/.bashrc
!/.zshrc
!/.vimrc
!/.aliases
!/.tmux.conf
!/.inputrc
